<div class="panel panel-default" ng-init="initCompany()">

  <!-- check if state is edit -->
  <div class="panel-heading font-bold" ng-if="isEdit===true">Edit Company</div>
  <div class="panel-heading font-bold" ng-if="isEdit===false">Add Company</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Name:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="companyModel.name" ng-required="true">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Select Industry:</label>
          <div class="col-sm-6">
            <select multiple ng-model="companyModel.industrySelected" ng-change="companyModel.selectedIndustryId(companyModel.industrySelected)" class="form-control custom-form-control" required>
              <options value="">Select any option</options>
              <option ng-repeat="option in companyModelOptions.industryOption" ng-model="companyModel.industrySelected" value="{{option.id}}">{{option.name}}</option>
            </select>
          </div>
        </div>
        <!-- checkbox -->
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Active:</label>
          <div class="col-sm-6">
            <input type="checkbox" ng-model="companyModel.isActive">
          </div>
        </div>

        <div class="form-group">
          <label for="country" class="col-sm-2 control-label">City:</label>
          <div class="col-sm-6">             
            <select ng-model="companyModel.citySelected"                
                  ng-change="getCountryStates()"
                  class="form-control" 
                  ng-required="true"
                  id="country">
            <option value="">-- Choose City --</option>
            <option ng-repeat="option in companyModelOptions.citylist" ng-model="companyModel.citySelected" value="{{option}}">{{option}}</option>
            </select>      
          </div>
        </div>
        <div class="form-group" ng-if="isEdit===false">
          <label class="control-label col-sm-2" for="file">Company Logo:</label>
          <div class="col-sm-6">
            <input type="file" id="docfile" file-model=companyModel.logo>
          </div>
        </div>
        <div class="form-group" ng-if="isEdit===true">
          <label class="control-label col-sm-2" for="file">Company Logo:</label>
          <div class="col-sm-6">
            <input type="file" id="docfile" file-model=companyModel.logo>
          </div>
          <br>
          <div class="companyUploadedLogo col-sm-6" >
            <img src="{{companyModel.logoUrl}}" alt="Company Logo" height="42" width="42">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Phone Number:</label>
          <div class="col-sm-6">
            <input class="form-control" ui-mask="999-999-9999" placeholder="xxx-xxx-xxxx"
              ng-model="companyModel.phone_number"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" placeholder="Email" ng-model="companyModel.email">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Payment Date:</label>
          <div class="col-sm-6">
            <datetimepicker data-ng-model="companyModel.paymentDate" data-datetimepicker-config="{ startView:'day', minView:'day' }" data-on-set-time="onTimeSet(newDate, oldDate)"></datetimepicker>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Approved:</label>
          <div class="col-sm-6">
            <input type="checkbox" ng-model="companyModel.isApproved">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-default" ng-click="editExistCompany()" ng-if="isEdit===true">Edit</button>
            <button type="submit" class="btn btn-default" ng-click="addNewCompany()" ng-if="isEdit===false">Add</button>
          </div>
        </div>
      </form>
    </div>
</div>

<button class="btn btn-default"><a ui-sref="addCompanySite({id: companyIdAdded})">Add Sites</a></button>