<div ng-init="companyInitial()">
  <button type="button" class="btn btn-default" ng-click="listDisApprovedCompany()" ng-if="checkApprove===false">Check DisApproved Company</button>
  <button type="button" class="btn btn-default" ng-click="listApprovedCompany()" ng-if="checkApprove===true">Check Approved Company</button>
  <button type="button" class="btn btn-default" ng-click="addNewCompany()">Add Company</button>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
              <tr>
                <th><span style="padding-left: 60px"> Name</span></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="company in companyList.results" >
                <td style="cursor: hand;cursor: pointer;padding-left: 60px" ng-click="gotoCompanySite(company.id, company.name)">{{company.name ? company.name : 'N/A'}}</td>
                <td ng-click="editExistCompany(company.id, company.name)" ><span style="cursor: hand;cursor: pointer;">Setting<span> </span><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></span></td>
              </tr>
            </tbody>
    </table>
  </div>
  <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged()"></ul>
</div>
