<div ng-init="userInitial()">
<!-- <button type="button" class="btn btn-default" ng-click="addNewCompanyEmployee()">Add User</button> -->
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Select Site</th>
          <th>Current Role</th>
          <th>Choose Site</th>
          <th>Shift User</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in user.userList">
          <td>{{user.email}}</td>
          <td>
            <select ng-model="site.siteChosen[user.email]" ng-change="site.checkUserSite(site.siteChosen[user.email], user)"
              ng-options="option as option.name for option in site.siteList track by option.id">
              </select>
          </td>
          <td><span ng-if="selectedUser">
              <a ng-if="selectedUser.role[user.email] === true"><span style="cursor: hand;cursor: pointer;"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Lead &nbsp;</span></a>
              <a ng-if="selectedUser.role[user.email] === false"><span style="cursor: hand;cursor: pointer;"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Member &nbsp;</span></a>
              <a ng-if="selectedUser.role[user.email] === undefined"><span style="cursor: hand;cursor: pointer;"><i class="fa fa-user fa-fw" aria-hidden="true"></i> None &nbsp;</span></a>
            </span>
          </td>
          <td>
            <select ng-model="selectedUser.newRole[user.email]"
            ng-options="option for option in selectedUser.roleOption[user.email]">
            </select>
          </td>
          <td>
            <span ng-if="selectedUser.newRole[user.email]">
              <button class="btn btn-default" ng-click="selectedUser.changeUserRole(selectedUser.newRole[user.email], site.siteChosen[user.email], user)">Shift</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>