<ul ng-if="isEdit===false" class="milestones" ng-init="initMile()">
  <li>
    <i ng-if="catMile == false" class="milestone-default glyphicon glyphicon-ok"></i>
    <i ng-if="catMile == true" class="milestone-primary glyphicon glyphicon-ok"></i>

    <div class="panel panel-default" ng-init="init()">

      <div class="panel-heading font-bold">Add Sub-Category</div>
      <div class="panel-body">
        <form class="form-horizontal">

          <div class="form-group">
           <label class="control-label col-sm-2" for="selectCategory">Select Category:</label>
           <div class="col-sm-4">
              <select name="selectCategory" id="selectCategory"
               ng-options="option.name for option in documentSubCategoryModel.categoryOption track by option.id"
                ng-model="documentSubCategoryModel.categorySelected" class="form-control custom-form-control" required>
              </select>
            </div>
            <a ui-sref="category" tooltip-placement="bottom" uib-tooltip="Manage Category"><span class="glyphicon glyphicon-cog"></span></a>
          </div>

          <!-- ############################### -->
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">Sub-Category Number:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="documentSubCategoryModel.name" ng-required="true">
            </div>
          </div>


          <div ng-if="catMile==false" class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <button type="submit" class="btn btn-default" ng-click="addDocumentSubCategory()">Add SubCategory</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </li>

  <li>
    <i ng-if="docMile == false" class="milestone-default glyphicon glyphicon-ok"></i>
    <i ng-if="docMile == true" class="milestone-primary glyphicon glyphicon-ok"></i>

    <div class="panel panel-default">

      <div class="panel-heading font-bold">Add document</div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="documentModel.name" ng-required="true">
            </div>
          </div>
          <div ng-if="catMile==true && docMile==false" class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <button type="submit" class="btn btn-primary" ng-click="addNewDocument()">Add Document</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </li>

  <li>
    <i ng-if="verMile == false" class="milestone-default glyphicon glyphicon-ok"></i>
    <i ng-if="verMile == true" class="milestone-primary glyphicon glyphicon-ok"></i>
    <div class="panel panel-default">

    <!-- check if state is edit -->
    <div class="panel-heading font-bold" >Add a new Version</div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="documentVersionModel.name" ng-required="true">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="file">File:</label>
            <div class="col-sm-6">
              <input type="file" id="docfile" file-model=documentVersionModel.docfile>
            </div>
          </div>
          <div ng-if="docMile == true && verMile==false" class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <button type="submit" class="btn btn-primary" ng-click="addNewDocumentVersion()" >Add</button>
            </div>
          </div>
        </form>
      </div>
  </div>

  </li>

  <li>
    <i ng-if="relMile == false" class="milestone-default glyphicon glyphicon-ok"></i>
    <i ng-if="relMile == true" class="milestone-primary glyphicon glyphicon-ok"></i>

    <div class="panel panel-default" ng-init="init()">

    <div class="panel-heading font-bold">Assocaite Document Relation</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="selectLicense">Select License:</label>
          <div class="col-sm-4">
            <select multiple ng-model="documentRelationModel.licenseSelected" ng-change="documentRelationModel.selectedLicenseId(documentRelationModel.licenseSelected)"
            ng-options="option.name for option in documentRelationModel.licenseOption track by option.id" class="form-control custom-form-control" required>
              <option ng-repeat="option in documentRelationModel.licenseOption" ng-model="documentRelationModel.licenseSelected" value="{{option.id}}">{{option.name}}</option>
            </select>
          </div>
          <a ui-sref="license" tooltip-placement="bottom" uib-tooltip="Manage License"><span class="glyphicon glyphicon-cog" /></a>
        </div>


        <div class="form-group">
          <label class="control-label col-sm-2" for="selectVertical">Select Vertical:</label>
          <div class="col-sm-4">
            <select multiple ng-model="documentRelationModel.verticalSelected" ng-change="documentRelationModel.selectedVerticalId(documentRelationModel.verticalSelected)"
            ng-options="option.name for option in documentRelationModel.verticalOption track by option.id" class="form-control custom-form-control" required>
              <option ng-repeat="option in documentRelationModel.verticalOption" ng-model="documentRelationModel.verticalSelected" value="{{option.id}}">{{option.name}}</option>
            </select>
          </div>
          <a ui-sref="vertical" tooltip-placement="bottom" uib-tooltip="Manage Vertical"><span class="glyphicon glyphicon-cog"></span></a>
        </div>

        <div ng-if="verMile==true && relMile==false" class="form-group"> 
          <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-danger" ng-click="buildDocumentRelation()">Add Relation</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  </li>

  <li ng-if="catMile == true && docMile == true && verMile==true && relMile == true">
    <i  class="milestone-success glyphicon glyphicon-ok"></i>
     <div>You're good to go..!</div>
  </li>

</ul>

<!-- ######################*************##################################### -->
<!-- Edit Document -->
<!-- we are building seperate html panel for edit document; here we have code repition; if time permits we will integrate this to generic html template for both add and edit
 -->
<div ng-if="isEdit===true">
  
  <div class="panel panel-default" ng-init="init()">

    <!-- check if state is edit -->
    <div class="panel-heading font-bold">Edit Sub-Category</div>
    <div class="panel-body">
      <form class="form-horizontal">

        <div class="form-group">
         <label class="control-label col-sm-3" for="selectedCategory">Category:</label>
         <div class="col-sm-6">
            <p name="selectedCategory">{{documentSubCategoryModel.categoryNameSelected}}</p>
          </div>
        </div>

        <!-- ############################### -->
        <div class="form-group">
          <label class="control-label col-sm-3" for="name">Sub-Category Number:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="documentSubCategoryModel.name" ng-required="true">
          </div>
        </div>


        <div class="form-group">
          <div ng-if="noSubCategory==false" class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-primary" ng-click="editDocumentSubCategory()">Edit SubCategory</button>
          </div>
          <div ng-if="noSubCategory==true" class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-primary" ng-click="addDocumentSubCategory()">Add SubCategory</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="panel panel-default">

    <!-- check if state is edit -->
    <div class="panel-heading font-bold">Edit document</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Name:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="documentModel.name" ng-required="true">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-primary" ng-click="editExistDocument()">Edit Document</button>
          </div>
        </div>
      </form>
    </div>
  </div>



  <div class="panel panel-default" ng-init="init()">

    <!-- check if state is edit -->
    <div class="panel-heading font-bold">Edit Assocaite Document Relation</div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="selectLicense">Select License:</label>
            <div class="col-sm-4">
              <select multiple ng-model="documentRelationModel.licenseSelected" ng-change="documentRelationModel.selectedLicenseId(documentRelationModel.licenseSelected)"
              ng-options="option.name for option in documentRelationModel.licenseOption track by option.id" class="form-control custom-form-control" required>
                <option ng-repeat="option in documentRelationModel.licenseOption" ng-model="documentRelationModel.licenseSelected" value="{{option.id}}">{{option.name}}</option>
              </select>
            </div>
            <div class="col-sm-4">
            <a ui-sref="license" tooltip-placement="bottom" uib-tooltip="Manage License"><span class="glyphicon glyphicon-cog" /></a>
              <tags-input name="tags" placeholder="selected licences" ng-model="documentRelationModel.licenseSelected" display-property="name" add-from-autocomplete-only="true">
                <auto-complete min-length="1" source="licenseQuery()"></auto-complete>
              </tags-input>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="selectVertical">Select Vertical:</label>
            <div class="col-sm-4">
              <select multiple ng-model="documentRelationModel.verticalSelected" ng-change="documentRelationModel.selectedVerticalId(documentRelationModel.verticalSelected)"
              ng-options="option.name for option in documentRelationModel.verticalOption track by option.id" class="form-control custom-form-control" required>
                <option ng-repeat="option in documentRelationModel.verticalOption" ng-model="documentRelationModel.verticalSelected" value="{{option.id}}">{{option.name}}</option>
              </select>
              <a align='right' ui-sref="vertical" tooltip-placement="bottom" uib-tooltip="Manage Vertical"><span class="glyphicon glyphicon-cog"></span></a>
            </div>
            <div class="col-sm-4">
              <tags-input name="tags" placeholder="selected verticals" ng-model="documentRelationModel.verticalSelected" display-property="name" add-from-autocomplete-only="true">
                <auto-complete min-length="1" source="verticalQuery()"></auto-complete>
              </tags-input>
            </div>
          </div>

          <div ng-if="buttonHide == false && noSubCategory==false" class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-primary" ng-click="editBuildDocumentRelation()">Edit Relation</button>
            </div>
          </div>
          <div ng-if="buttonHide == true" class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <div>Relations Updated!<span  class="glyphicon glyphicon-ok"></span> *to re-Edit relations, visit settings page again.</div>
            </div>
          </div>
            
      
        </form>
      </div>
    </div>
  </div>
</div>
