<div class="row">
  <div class="col-md-10"><h4>Table of Content</h4>
  </div>
  <div>
    <button type="button" class="btn btn-default" ng-click="addNewDocument()">Add document</button>
  </div>
</div>

<div class="table-responsive">
<table ng-repeat="(category, documentList) in groupByCategory" class="table table-hover table-striped">
  <thead>
            <tr>
              <th>{{categoryName[category]}}</th>
            </tr>
  </thead>
  </tbody>
            <tr ng-repeat="document in documentList">
              <td style="cursor: hand;cursor: pointer;" class="col-md-3" ng-click="gotoDocVersion(document.id, document.name)">{{document.name ? document.name : 'N/A'}}</td>
              <td class="col-md-3">
                  <select name="selectVersion" id="selectVersion" 
                    ng-options = "option.state for option in document.versions track by option.id"
                    ng-model = "DocVersionModel" style="width: 150px; max-height: 28px" class="form-control custom-form-control">
                  </select>
              </td>

              <td class="col-md-3"><span ng-if="DocVersionModel"> 
                <!-- ng-click="versionFileEdit(DocVersionModel.docfile)" -->
                <a ng-href="{{serverDomain + DocVersionModel.docfile}}" ng-if="DocVersionModel.state == 'DRAFT' && isEmployeeLead===true" target="_blank"><span style="cursor: hand;cursor: pointer;"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Edit &nbsp;</span></a>

                <a ng-if="DocVersionModel.state == 'PUBLISH' && isEmployeeLead===true" ng-click="versionReset(DocVersionModel.id)"><span style="cursor: hand;cursor: pointer;" /><i class="fa fa-random" aria-hidden="true"></i></span> Reset &nbsp;</a>

                <a ng-click="versionFileView(serverDomain + DocVersionModel.docfile)" target="_blank"><span style="cursor: hand;cursor: pointer;" ><i class="fa fa-eye" aria-hidden="true"></i>View &nbsp;</span></a>

                <a href="" ng-click="versionDelete(DocVersionModel.id)" style="color:#DA2A06" ng-if="isEmployeeLead===true"><i class="fa fa-times" aria-hidden="true"></i>Delete &nbsp;</a>

              </td>

              <td ng-if="isEmployeeLead===true" style="cursor: pointer" ng-click="editExistDocument(document.id, document.name)" >Setting<span> </span><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></td>
            </tr>
  </tbody>
</table>
</div>
