<button type="button" class="btn btn-primary" ng-click="addNewDocument()">Add document</button>



<div class="table-responsive">
<table ng-repeat="(category, documentList) in groupByCategory" class="table table-hover">
  <thead>
            <tr>
              <th>{{categoryName[category]}}</th>
            </tr>
  </thead>
  </tbody>
            <tr ng-repeat="document in documentList">
              <td style="cursor: hand;cursor: pointer;" class="col-md-3" ng-click="gotoDocVersion(document.id, document.name)">{{document.name ? document.name : 'N/A'}}</td>
              <td class="col-md-3">
                  <select name="selectVersion" id="selectVersion" 
                    ng-options = "option.state for option in document.versions track by option.id"
                    ng-model = "DocVersionModel" style="width: 150px; max-height: 28px" class="form-control custom-form-control">
                  </select>
              </td>

              <td class="col-md-3"><span ng-if="DocVersionModel">
                <a href="{{DocVersionModel.docfile}}" target="_blank">view</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="" ng-click="versionDelete(DocVersionModel.id)" style="color:#DA2A06"><span class="glyphicon glyphicon-trash"></span>delete</a></span>
              </td>

              <td style="cursor: pointer" ng-click="editExistDocument(document.id, document.name)" >Setting<span> </span><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></td>
            </tr>
  </tbody>
</table>
</div>
