<button type="button" class="btn btn-primary" ng-click="addNewDocVersion()">Add Version</button>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="docVersion in docVersionList.versions" style="cursor: hand;cursor: pointer;">
              <td ng-click="editExistDocVersion(docVersion.id, docVersion.name)">{{docVersion.name ? docVersion.name : 'N/A'}}</td>
              <td> <a href="{{docVersion.docfile ? docVersion.docfile : 'N/A'}}" target="_blank">{{docVersion.docfile ? docVersion.docfile : 'N/A'}} </a></td>
            </tr>
          </tbody>
  </table>
</div>
