<!-- <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">Food Pro Docs</a>
    </div>
    <ul class="nav navbar-nav" ng-repeat="option in navList" >
        <li><a ui-sref="{{option.val}}">{{option.name}}</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <button class="btn btn-danger navbar-btn" ng-click="home.logout()">Logout</button>
    </ul>
</nav>

<div class="container" ui-view></div>
 -->

<div ng-cloak>
	<md-toolbar class="md-warn">
     	<div class="md-toolbar-tools">
        	<h2 class="md-flex">HTML 5</h2>
     	</div>
  	</md-toolbar>
  	<md-content flex layout-padding>
     <p>HTML5 is the next major revision of the HTML standard superseding HTML 4.01, XHTML 1.0, and XHTML 1.1. HTML5 is a standard for structuring and presenting content on the World Wide Web.</p>
     <p>HTML5 is a cooperation between the World Wide Web Consortium (W3C) and the Web Hypertext Application Technology Working Group (WHATWG).</p>
     <p>The new standard incorporates features like video playback and drag-and-drop that have been previously dependent on third-party browser plug-ins such as Adobe Flash, Microsoft Silverlight, and Google Gears.</p>
  	</md-content>
</div>

<!-- <body layout="row" class="icondemoFontIconsWithLigatures" ng-cloak>

  <div flex="30" layout="column" class="boxWithHeight" layout-padding>
    flex="30"
    <section flex="40">flex="40"</section>
    <section flex>flex</section>
  </div>
  <div flex layout="column" class="boxWithHeight" layout-padding>
    flex
    <section flex="70">flex="70"</section>
    <section flex="20">flex="20"</section>
    <section flex >flex </section>
  </div>

</body> -->

