<div class="ng-cloak docs-body" layout="row" ng-init="home.homeInit()">
    <!-- with md-closed.. sidebar does not shows up --> 
    <md-sidebar class="site-sidenav md-sidenav-left md-whiteframe-z2 hide-print ng-isolate-scope _md md-locked-open" hide-print="" md-component-id="left" md-is-locked-open="$mdMedia(&#39;gt-sm&#39;)" tabindex="-1">
        <header class="nav-header">
            <!-- <a ng-href="/" class="docs-logo" href="https://material.angularjs.org/"> on image click redirect some where-->
            <a class="docs-logo">
                <img src="DocsApp/authService/styles/angular-logo.svg" alt="">
                <h1 class="docs-logotype md-heading ng-isolate-scope">Food Pro Docs</h1>
            </a>
        </header>
        <md-content flex="" role="navigation" class="_md flex">
            <md-sidemenu>
              <md-sidemenu-group>
                <md-subheader class="md-no-sticky">Document Management</md-subheader>
                  <md-sidemenu-button ng-repeat="cat in home.categoryIdNameMap" ui-sref="getSubCategory({id: cat.id, name: cat.name})">{{cat.name}}</md-sidemenu-button>
              </md-sidemenu-group>
              <md-sidemenu-group>
                <md-subheader class="md-no-sticky">Company Management</md-subheader>
                <!-- ng-repeat all the CATEGORY w.r.t user site md-heading="Name of Category"-->
                <!-- sidemenu-button will be subcatgory inside that category  -->
                <!-- vm.categoryGroup -->
                <!-- ng-repeat="cat in categories" -->
                <!-- <md-sidemenu-button ui-sref="#" >{{cat.name}}</md-sidemenu-button> -->
                <!-- <md-sidemenu-button ui-sref="#">M</md-sidemenu-button>
                <md-sidemenu-button ui-sref="#">M</md-sidemenu-button> -->

                <!-- <md-sidemenu-content md-icon="home" md-heading="Menu 1" md-arrow="true">
                  <md-sidemenu-button href="#">Submenu 1</md-sidemenu-button>
                  <md-sidemenu-button href="#">Submenu 2</md-sidemenu-button>
                  <md-sidemenu-button href="#">Submenu 3</md-sidemenu-button>
                </md-sidemenu-content> -->
              </md-sidemenu-group>

              <!-- <md-sidemenu-group>
                <md-divider></md-divider>

                <md-subheader class="md-no-sticky">Company Management</md-subheader>

                <md-sidemenu-button href="#">Menu 4</md-sidemenu-button>
              </md-sidemenu-group> -->
            </md-sidemenu>        
            <ul class="docs-menu" ng-repeat="option in home.navList" >
                <li>
                    <a class="md-button md-ink-ripple active" ui-sref="{{option.val}}">{{option.name}}</a>
                </li>
            </ul>
        </md-content>
    </md-sidebar>
    <div flex layout="column" >
        <md-toolbar class="md-whiteframe-z2" style="background-color: white">
        Rest Toolbar
            
                <md-menu>
                  <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                    <md-icon md-menu-origin md-svg-icon="DocsApp/authService/styles/ic_account_circle_black_24px.svg"></md-icon>
                  </md-button>
                  <md-menu-content width="4">
                    <md-menu-item>
                      <md-button>
                        Profile
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="home.logout()">
                        Logout
                      </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                  </md-menu-content>
                </md-menu>
            
        </md-toolbar>
        <md-content md-scroll-y class="_md layout-column flex">
            <div ui-view></div>
        </md-content>
    </div>
</div>

<!-- <md-sidemenu>
  <md-sidemenu-group>
    <md-subheader class="md-no-sticky">Caption</md-subheader>

    <md-sidemenu-content md-icon="home" md-heading="Menu 1" md-arrow="true">
      <md-sidemenu-button href="#">Submenu 1</md-sidemenu-button>
      <md-sidemenu-button href="#">Submenu 2</md-sidemenu-button>
      <md-sidemenu-button href="#">Submenu 3</md-sidemenu-button>
    </md-sidemenu-content>
  </md-sidemenu-group>

  <md-sidemenu-group>
    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Caption</md-subheader>

    <md-sidemenu-button href="#">Menu 4</md-sidemenu-button>
  </md-sidemenu-group>
</md-sidemenu> -->


<!-- <md-toolbar layout="row">
      <div class="md-toolbar-tools">

          <md-button ng-click="toggleSidenav('left')" class="md-icon-button">
              <md-icon>
                  <i class="material-icons md-24">menu</i>
              </md-icon>
          </md-button>

          <h1>Service</h1>
      </div>
  </md-toolbar>

  <div layout="row" flex>
      <md-sidenav style="overflow-y: scroll" layout="column" class="md-sidenav-left md-whiteframe-z2"
                  md-component-id="left">

          <div layout="row" layout-padding>
              <h1 class="md-title">olimou/material-sidenav-menu</h1>
          </div>

          <md-divider></md-divider>

          <md-menu-sidenav>
              <md-menu-sidenav-item>
                  <md-menu-sidenav-title>
                      <md-toogle-menu layout="row" flex>
                          <md-icon flex="15">face</md-icon>
                          <h1 class="md-body-2" flex>Mapa</h1>
                      </md-toogle-menu>

                      <md-icon flex="15">pause</md-icon>
                  </md-menu-sidenav-title>

                  <md-menu-sidenav-content>
                      <md-menu-sidenav-subitem>Item 1</md-menu-sidenav-subitem>
                      <md-menu-sidenav-subitem>Item 2</md-menu-sidenav-subitem>
                      <md-menu-sidenav-subitem>Item 3</md-menu-sidenav-subitem>
                  </md-menu-sidenav-content>
              </md-menu-sidenav-item>

              <md-divider></md-divider>

              <md-menu-sidenav-item>
                  <md-menu-sidenav-title>
                      <md-toogle-menu layout="row" flex>
                          <md-icon flex="15">face</md-icon>
                          <h1 class="md-body-2" flex>Mapa</h1>
                          <md-icon flex="15">pause</md-icon>
                      </md-toogle-menu>

                  </md-menu-sidenav-title>

                  <md-menu-sidenav-content>
                      <md-menu-sidenav-subitem>Item 1</md-menu-sidenav-subitem>
                      <md-menu-sidenav-subitem>Item 2</md-menu-sidenav-subitem>
                      <md-menu-sidenav-subitem>Item 3</md-menu-sidenav-subitem>
                      <md-menu-sidenav-subitem>Item 4</md-menu-sidenav-subitem>
                  </md-menu-sidenav-content>
              </md-menu-sidenav-item>
          </md-menu-sidenav>
      </md-sidenav>

      <div layout="column" flex id="content">
          <md-content layout="column" flex class="md-padding" ng-view="">

          </md-content>
      </div>
  </div>

 -->