<div class="row login" style="min-height: 500px">

    <div class="col-sm-8" style="background-color: #393b3f; height: 100%">
        <div style="padding: 20%; color: #a6a8a6">
            
            <h2>Welcome</h2>
            <p>Got a new product! Register your company and get your product licensed.</p>
            <button class="btn" style="background-color: #7dcea8; color: #393b3f" ui-sref="signup" ng-click="auth.signup()">register</button>
        </div>
    </div>

    <div class="col-sm-4" style="background-color: #7dcea8; height: 100%">
        <div style="padding: 20%; padding-top: 50%; color: #ffffff; font-size: 15px">
            <form>
                <h3 style="padding-left: 35%">login</h3></br>
                <div class="form-group">
                <input ng-model="auth.username" type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                <input ng-model="auth.password" type="password" class="form-control" placeholder="Password">
                </div>
                <p>
            <a href="#/forgotPassword" style="color: #ffffff"> forgot password?</a>
        </p>
                <button ng-click="auth.login()" style="background-color: #393b3f; color: #a6a8a6; width: 100%" type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>

</div>
    <div class="alert alert-info" ng-if="auth.authStatus.alert">
        {{ auth.authStatus.message }}
    </div>