<div class="row"  style=" background-color: #393b3f; height: 100vh ; min-width: 400px; min-height: 500px">
    <div class="regForm" style="background-color: #7dcea8; margin: auto; height: 80%; width: 40%; min-height: 400px; min-width: 400px">

        <div style="padding: 20%; color: #ffffff; font-size: 15px">
        
        <form>
            <h3 style="text-align: center;">register here</h3><br>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="auth.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="auth.password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm password" ng-model="auth.chkpassword">
            </div>
            <button class="btn" style="background-color: #393b3f" ng-click="auth.register()">Sign Up</button>
        </form>

        </div>

    </div>
</div>



<!-- <div class="col-sm-4 col-sm-offset-4">
    <div class="well">
        <h3>Register Company</h3>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="User Name" ng-model="auth.userName">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="auth.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="auth.password">
            </div>
            <button class="btn btn-success" ng-click="auth.register()">Sign Up</button>
        </form>
    </div>
    <div class="alert alert-info" ng-if="auth.authStatus.alert">
        {{ auth.authStatus.message }}
        <span ng-if="auth.authStatus.register"><a ui-sref='auth'><font size="3" color="red">login</font></a></span>
    </div>
</div> -->