<div class="row layer"  style=" background-color: #f4f5f7; height: 100vh ; width: 101vw; min-width: 400px; min-height: 500px">
    <div class="regForm" style="background-color: #dbdcdd; margin: auto; height: 40%; width: 40%; min-height: 350px; min-width: 400px">

        <div style="padding: 20%; font-size: 15px">
        
        <form>
            <h3 style="text-align: center;">give your linked email</h3><br>
            <div class="form-group">
                <input type="email" class="form-control" placeholder=" linked email" ng-model="auth.email">
            </div>
            <button class="btn" style="background-color: #393b3f;  color: #ffffff;" ng-click="auth.register()">submit</button>
        </form>

        </div>

    </div>
</div>


<!-- <div style="background-color: #393b3f; height: 100vh">
    <div flex class="regForm reset" style="background-color: #7dcea8;">
        
        <div layout="column" ng-cloak class="md-inline-form" style="padding: 10%; color: #ffffff;">


        <h3 class="md-headline">reset password</h3>

        <md-input-container>
            <label>linked email</label>
            <input ng-model="auth.username">
        </md-input-container>

        <md-button style="background-color: #393b3f" ng-click="auth.register()">submit</md-button>

        </div>

    </div>
</div> -->