<div ng-init="industryInitial()">
  <button type="button" class="btn btn-default" ng-click="addNewIndustry()">Add Industry</button>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="industry in industryList.results" style="cursor: hand;cursor: pointer;" ng-click="editExistIndustry(industry.id, industry.name)">
                <td>{{industry.id ? industry.id : 'N/A'}}</td>
                <td>{{industry.name ? industry.name : 'N/A'}}</td>
              </tr>
            </tbody>
    </table>
  </div>
  <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged()"></ul>
</div>
