<div class="row">

<div class="col-md-4">

<div class="panel panel-default">

  <!-- check if state is edit -->
  <div class="panel-heading font-bold" ng-if="isEdit===true">Sub Category</div>
  <div class="panel-heading font-bold" ng-if="isEdit===false">Add sub-Category</div>
    
    <div class="table-responsive">
      <table class="table table-hover">
        
          <tbody>
            <tr ng-repeat="sub in categoryModel.subcategories">
              <td>{{sub ? sub.name : 'N/A'}}</td>
            </tr>
          </tbody>
       </table>

    </div>

</div>

</div>

<div class="col-md-8">

<div class="panel panel-default">

  <!-- check if state is edit -->
  <div class="panel-heading font-bold" ng-if="isEdit===true">Edit Category</div>
  <div class="panel-heading font-bold" ng-if="isEdit===false">Add Category</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Name:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="categoryModel.name" ng-required="true">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-primary" ng-click="editExistCategory()" ng-if="isEdit===true">Edit</button>
            <button type="submit" class="btn btn-primary" ng-click="addNewCategory()" ng-if="isEdit===false">Add</button>
          </div>
        </div>
      </form>
    </div>
</div>

</div>

</div>