<!-- <button type="button" class="btn btn-primary" ng-click="addNewCategory()">Add Category</button>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="category in categoryList.results" style="cursor: hand;cursor: pointer;" ng-click="editExistCategory(category.id, category.name)">
              <td>{{category.id ? category.id : 'N/A'}}</td>
              <td>{{category.name ? category.name : 'N/A'}}</td>
            </tr>
          </tbody>
  </table>
</div>
 -->
<div layout-padding flex="noshrink">
  <md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Subcategory</span>
  </div>
  </md-toolbar>
  <md-table-container>
    <table md-table md-r ng-model="selected">
      <thead md-head>
      <tr md-row>
        <th md-column>Id</th>
        <th md-column>Name</th>
      </tr>
    </thead>
      <tbody md-body>
      <tr md-row md-select-id="subcategory" ng-repeat="sub in subcategory.subcategories">
        <td md-cell>{{sub.id}}</td>
        <td md-cell>{{sub.name ? sub.name : 'N/A'}}</td>
    </tbody>
    </table>
  </md-table-container>
</div>  