<button type="button" class="btn btn-primary" ui-sref="addLicense">Add License</button>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Abbreviate</th>
              <th>Granting Authority</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="license in licenseList" style="cursor: hand;cursor: pointer;" ui-sref="editLicense({name: license.name})">
              <td>{{license.id ? license.id : 'N/A'}}</td>
              <td>{{license.name ? license.name : 'N/A'}}</td>
              <td>{{license.abbreviate ? license.abbreviate : 'N/A'}}</td>
              <td>{{license.granting_authority ? license.granting_authority : 'N/A' }}</td>
            </tr>
          </tbody>
  </table>
</div>
