<button type="button" class="btn btn-primary" ng-click="addNewLicense()">Add License</button>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Abbreviate</th>
              <th>Granting Authority</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="license in licenseList.results" style="cursor: hand;cursor: pointer;" ng-click="editExistLicense(license.id, license.name)">
              <td>{{license.id ? license.id : "N/A"}}</td>
              <td>{{license.name ? license.name : 'N/A'}}</td>
              <td>{{license.abbreviate ? license.abbreviate : 'N/A'}}</td>
              <td>{{license.granting_authority ? license.granting_authority : 'N/A' }}</td>
              <br>{{license.id}}<br>
            </tr>
          </tbody>
  </table>
</div>
